AWS_ACCESS_KEY_ID=minio
AWS_SECRET_ACCESS_KEY=minio123
MLFLOW_S3_ENDPOINT_URL=http://192.168.10.250:9900
MLFLOW_TRACKING_URI=http://localhost:5000/
BUILDING_EXPERIMENT_TAGS={"project_name": "xgb-dax-pipeline", "stage": "building"}
MODEL_NAME=xgb_model_gpu
REGISTERED_MODEL_NAME=xgb_model_gpu_20260525
MODEL_VERSION_ALIAS=Staging
MODEL_SERVE_HOST=0.0.0.0
MODEL_SERVE_PORT=8000
